[submodule "ircd"]
	path = ircd
	url = https://github.com/zalyssa/ircd.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/libcpp"]
	path = vendor/libcpp
	url = git@github.com:Univers42/libcpp.git
[submodule "vendor/scripts"]
	path = vendor/scripts
	url = git@github.com:Univers42/scripts.git
